# ch2-note2-string-formating.ipynb by PA19

## 문자열: 포매팅이란?

In [1]:
# 1. 숫자 바로 대입
"I eat %d apples." % 3

'I eat 3 apples.'

In [2]:
# 2. 문자열 바로 대입
"I eat %s apples." % "five"

'I eat five apples.'

In [3]:
# 3. 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [4]:
# 4. 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

## 문자열: 포맷 코드

In [15]:
# %d, %s, %c, %f, %o, %x, %%
# %s, 묵시적 형변환
"I have %s apples" % 3

'I have 3 apples'

In [16]:
"rate is %s" % 3.234

'rate is 3.234'

In [17]:
"Error is %d%%." % 98

'Error is 98%.'

## 문자열: 포맷 코드와 숫자 함께 사용하기

In [13]:
# 1. 정렬과 공백
"%10s" % "hi"

'        hi'

In [14]:
"%-10sjane." % "hi"

'hi        jane.'

In [11]:
# 2. 소수점 표현하기
"%0.4f" % 3.42134234

'3.4213'

In [12]:
"%10.4f" % 3.42134234

'    3.4213'

## 문자열: format 함수를 사용한 포매팅

In [18]:
# 1. 숫자 바로 대입하기
"I eat {0} apples".format(3)

'I eat 3 apples'

In [19]:
"I eat {0} {1} apples".format(3, 4)

'I eat 3 4 apples'

In [20]:
# 2. 문자열 바로 대입하기
"I eat {0} apples".format("five")

'I eat five apples'

In [21]:
"I eat {0} apples from {1} boxes".format("five", "three")

'I eat five apples from three boxes'

In [22]:
# 3. 숫자 값을 가진 변수로 대입하기
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [23]:
number = 3
"I eat {0} apples".format(number + 1)

'I eat 4 apples'

In [24]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [25]:
# 이름으로 넣기
number = 10
day = "three"
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [26]:
# 인덱스와 이름을 혼용해서 넣기
number = 10
day = "three"
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [27]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [28]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [29]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [30]:
# 공백 채우기
"{0:=^10}".format("hi")

'====hi===='

In [31]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [32]:
# 도전하기
"{0:<10}{1:>10}".format("hi",'hcit')

'hi              hcit'

In [33]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [34]:
y = 3.42134234
"{0:10.4f}".format(y)

'    3.4213'

In [35]:
# { 또는 } 문자 표현하기
"{{ and }}".format()

'{ and }'

## 문자열: f 문자열 포매팅

In [36]:
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [37]:
age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

In [38]:
# 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용
d = {"name": "홍길동", "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [39]:
# 정렬
f'{"hi":<10}'  # 왼쪽 정렬

'hi        '

In [40]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

In [41]:
f'{"hi":^10}'  # 가운데 정렬

'    hi    '

In [42]:
y = 3.42134234
f"{y:0.4f}"  # 소수점 4자리까지만 표현

'3.4213'

In [43]:
y = 3.42134234
f"{y:10.4f}"  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

In [44]:
# { } 문자를 표시
f"{{ and }}"

'{ and }'

## 문자열: 관련 내장 함수들

In [45]:
# 문자 개수 세기(count)
a = "hobby"
a.count("b")

2

In [46]:
# 위치 알려주기1(find)
a = "Python is the best choice"
a.find("b")

14

In [53]:
a = "Python is the best choice"
a.find("k")  # what value?

-1

In [50]:
# 위치 알려주기2(index)
a = "Life is too short"
a.index("t")

8

In [52]:
a = "Life is too short"
a.index("k") # k 존재하지 않음

ValueError: substring not found

In [54]:
# 문자열 삽입(join)
",".join("abcd")

'a,b,c,d'

In [55]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

In [56]:
# 소문자를 대문자로 바꾸기(upper)
a = "hi"
a.upper()

'HI'

In [58]:
# 대문자를 소문자로 바꾸기(lower)
a = "IoT"
a.lower()

'iot'

In [59]:
# 왼쪽 공백 지우기(lstrip)
a = " hi "
a.lstrip()

'hi '

In [60]:
# 오른쪽 공백 지우기(rstrip)
a = " hi "
a.rstrip()

' hi'

In [61]:
# 양쪽 공백 지우기(strip)
a = " hi "
a.strip()

'hi'

In [62]:
# 문자열 바꾸기(replace)
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [64]:
# 문자열 나누기(split) -> 리스트로 변환하여 반환
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [65]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

In [66]:
# format 함수 또는 f 문자열 포매팅을 이용해서 '!!!python!!!' 문자열을 출력해보시오.
"{0:!^12}".format("python")

'!!!python!!!'

In [67]:
# F 문자열 이용
f'{"python":!^12}'

'!!!python!!!'