# ch2-note4-tuple.ipynb by PA19

## 튜플: tuple 이란?
- 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
-  리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [2]:
even = (2, 4, 6, 8)
# 여러 가지 튜플
t1 = ()  # 튜플 초기화
print(t1)
t2 = (1,)
print(t2)
t3 = (1, 2, 3)
print(t3)
t4 = 1, 2, 3
print(t4)
t5 = ("a", "b", ("ab", "cd"))
print(t5)

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

- t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다는 것과 t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.

### 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?
- 1. 튜플 요솟값을 삭제하려 할 때

In [ ]:
t1 = (1, 2, "a", "b")
del t1[0]  # Error

- 2. 튜플 요솟값을 변경하려 할 때

In [ ]:
t1[0] = "c"  # TypeError

## 튜플: 사용방법

- 인덱싱하기

In [4]:
t1 = (1, 2, "a", "b")
print(t1[0])
print(t1[3])

1
b

- 슬라이싱하기

In [5]:
t1 = (1, 2, "a", "b")
print(t1[1:])
print(t1[2:-1])  # ('a',)
print(t1[2:])

(2, 'a', 'b')
('a',)
('a', 'b')

- 튜플 더하기

In [6]:
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

- 튜플 곱하기

In [10]:
t2 = (3, 4)
print(t2, id(t2))
t2 * 3
print(t2, id(t2))
t2 = t2 * 3
print(t2, id(t2))

(3, 4) 2163084331648
(3, 4) 2163084331648
(3, 4, 3, 4, 3, 4) 2163124873920

- 튜플 길이 구하기

In [11]:
t1 = (1, 2, "a", "b")
len(t1)

4